<nav pleNavbarScroll class="navbar navbar-inverse navbar-fixed-top navbar-expanded">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars"></i> Menu
      </button>
      <a id="pureluck-logo" class="navbar-brand page-scroll" href="#page-top">
        <!--<img id="pureluck-logo" src="../../assets/img/pureluck/PureLuck.png" class="img-responsive" alt="">-->
        <p><span>Pure</span>Luck</p>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a class="page-scroll" href="#page-top"></a>
        </li>
        <li>
          <a class="page-scroll" href="#about">About</a>
        </li>
        <li>
          <a class="page-scroll" href="#team">Team</a>
        </li>
        <li>
          <a class="page-scroll" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>